name: action2
env:
  APPLICATION_NAME : "MyApp"
  DEPLOY_PACKAGE_NAME : "app-deploy-ver-${{ github.sha }}"
on:
  push:
    branches:
      - main

jobs:
  myTest:
    runs-on: windows-latest

    steps:
    - name: Print Hello Message
      run: echo "Hello, World! from myTest job"

    - name: Execute few commands
      run: |
        echo "Hello Message 1"
        echo "Hello Message 2"
        echo "Application name: ${{ env.APPLICATION_NAME }}"
           
    - name: List current folder
      run: dir
      
    - name: Git clone my repo
      uses: actions/checkout@v1

  myDeploy:
    runs-on: windows-latest
    needs: [myTest]

    steps:
    - name: Print Hello Message
      run: echo "Hello, World! from myDeploy job"

    - name: Printing Deployment Package
      run: echo "Deployment Package Name is ${{ env.DEPLOY_PACKAGE_NAME }}"
